<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to SBI</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <script src="/static/js/script2.js"></script>
</head>

<body>
    <h1>SBI (State Bank Of India)</h1>
    <div class="login-container">
        <p>Log in for Net Banking</p>
        <form onsubmit="validateForm(event)">
            <input type="text" placeholder="Username" name="Username" id="username"><br><br>

            <input type="password" placeholder="Password" name="password" id="password"><br><br>

            <input type="submit" value="Log in" name="login"><br><br>

            <button type="button" class="forgot-button">Forgotten Account?</button><br><br>
            <div class="separator">
                <div>
                    <hr>
                </div>
                <div>or</div>
                <div>
                    <hr>
                </div>
            </div><br>
            <button type="button" class="create-button">Create new account</button>
        </form>
    </div>
</body>

</html>
